spring:
  application:
    name: backend

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  address: 0.0.0.0
  port: 8080

cloud:
  aws:
    s3:
      bucket: book-cover-images-07-15